In [ ]:
def selectionSort(alist):
 for slot in range(0,len(alist)-1):
  position=slot
  for location in range(slot+1,len(alist)):
    if alist[location]<alist[position]:
      position = location
  temp = alist[slot]
  alist[slot] = alist[position]
  alist[position] = temp
  print(alist)
angka = [5,1,4,2,8,10,3]
selectionSort(angka)
print(angka)

[1, 5, 4, 2, 8, 10, 3]
[1, 2, 4, 5, 8, 10, 3]
[1, 2, 3, 5, 8, 10, 4]
[1, 2, 3, 4, 8, 10, 5]
[1, 2, 3, 4, 5, 10, 8]
[1, 2, 3, 4, 5, 8, 10]
[1, 2, 3, 4, 5, 8, 10]

In [9]:
def insertionSort(angka):
	n = len(angka)

	if n <= 1:
		return

	for i in range(1, n):
		key = angka[i]
		j = i-1
		while j >= 0 and key < angka[j]:
			angka[j+1] = angka[j]
			j -= 1
		angka[j+1] = key
angka= [12, 11, 13, 5, 6]
insertionSort(angka)
print(angka)

[5, 6, 11, 12, 13]

In [11]:
def selectionSort(array, size):

    for ind in range(size):
        min_index = ind

        for j in range(ind + 1, size):
            if array[j] < array[min_index]:
                min_index = j
        (array[ind], array[min_index]) = (array[min_index], array[ind])

angka = [-2, 45, 0, 11, -9,88,-97,-202,747]
size = len(angka)
selectionSort(angka, size)
print(angka)

[-202, -97, -9, -2, 0, 11, 45, 88, 747]

Akses Nilai Tup

In [1]:
tup1 = ('Gorden', 'Kasur', 2004, 2011)
tup2 = (7, 6, 5, 4, 3, 2, 1)

print('tup1[1] adalah : ', tup1[1])
print('tup2[0:4] adalah : ', tup2[0:4])

tup1[1] adalah :  Kasur
tup2[0:4] adalah :  (7, 6, 5, 4)

Update Nilai Tup

In [2]:
tup1 = (11, 14.67)
tup2 = ('kripik', 'tempe')

tup3 = tup1 + tup2
print(tup3)

(11, 14.67, 'kripik', 'tempe')

Hapus Nilai Tup

In [5]:
tup = ('Gorden', 'Kasur', 2004, 2011)
print(tup)

del tup

tup = ('Sisir', 'Rambut', 7234)
print('Setelah menghapus tup jadi : ', tup)

('Gorden', 'Kasur', 2004, 2011)
Setelah menghapus tup jadi :  ('Sisir', 'Rambut', 7234)

Akses Nilai, menggubah, Menambahkan, dan menghapus Dalam Dictionary

In [8]:
dict = {'Nama' : 'Adit', 'Umur' : 17, 'Jurusan' : 'FTIK'}
print('Ini Tampilan Nilai di Dalam Dict',dict)
# Menggubah dict
dict['Nama'] = 'Farhat';
print('Ini Tampilan saat mengubah di Dalam Dict',dict)
# Atau Menambah
dict['Universitas'] = 'Universitas Semarang'
print('Ini Tampilan saat Menghapus di Dalam Dict',dict)
# Menghapus
del dict['Umur']
print(dict)
dict.clear() # ini jika ingin menghapus yang ada di dalam dict
del dict # ini jika ingin menghapus semua dictionary

Ini Tampilan Nilai di Dalam Dict {'Nama': 'Adit', 'Umur': 17, 'Jurusan': 'FTIK'}
Ini Tampilan saat mengubah di Dalam Dict {'Nama': 'Farhat', 'Umur': 17, 'Jurusan': 'FTIK'}
Ini Tampilan saat Menghapus di Dalam Dict {'Nama': 'Farhat', 'Umur': 17, 'Jurusan': 'FTIK', 'Universitas': 'Universitas Semarang'}
{'Nama': 'Farhat', 'Jurusan': 'FTIK', 'Universitas': 'Universitas Semarang'}